html, body { 
    background-color: #ecf0f5;
}

.main-footer {
    position: fixed;
    bottom:0; 
    width: 100%;
}

.d-flex{
    display:flex;
}

/* Tela login */
.login-box-body {
    background-color: #EEE;
}
